/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #282c34;
}

.card {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-body {
  background-color: grey;
}

.card-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-img-top {
  height: -webkit-fill-available;
}

.letterButton {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding: 0;
}

img {
  cursor: pointer;
}

.comicCard {
  height: fit-content;
  float: left;
}

.modal-content {
  background-color: #282c34;
  color:white;
}

/* 
.letterButton Button {
  width: 3%;
  margin: auto;
}

.letterRow {
  width: 100%;
} */